body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: white;
}

.aot {
  background-image: url("./img/1_hero/JPG/hero_bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  padding-left: 80px;
  padding-right: 80px;
  height: 112px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 64px;
  height: 64px;
}

.navlink {
  color: white;
  text-decoration: none;
}

.phone-icon {
  width: 24px;
  height: 24px;
}

.phone-btn {
  background-color: #9f0908;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navlink:hover {
  color: #e9635c;
}

.phone-btn:hover {
  cursor: pointer;
  background-color: #e9635c;
}

h1 {
  font-size: 96px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Raleway", bold;
  text-align: center;
}

.hero-subtitle {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

/*Order Section*/

.order-title {
  text-align: center;
  font-family: "Raleway", bold;
  text-align: center;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 64px;
  color: #9f0908;
  font-size: 80px;
}

.order-container {
  display: flex;
  justify-content: space-evenly;
}

.order-icon {
  width: 128px;
  height: 128px;
  padding-bottom: 16px;
}

.order-text {
  font-size: 56px;
  font-family: "Economica", bold;
  color: black;
  text-align: center;
  padding-bottom: 120px;
}

.order-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Menu Section*/

.menu-container {
  background-image: url("./img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.menu-title {
  margin: 0;
  color: #9f0908;
  font-size: 80px;
  font-family: "Raleway", bold;
}

.menu-icon {
  width: 352px;
  height: 352px;
}

.menu-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
  padding-top: 64px;
  gap: 80px;
}

.menu-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
  gap: 80px;
}

.menu-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  gap: 80px;
}
table {
  width: 600px;
}
th {
  font-size: 56px;
  font-family: "Economica", bold;
  padding-bottom: 16px;
  color: black;
  text-align: left;
}

td {
  color: #675e54;
  font-size: 32px;
  font-family: "Raleway", bold;
}

tr {
  padding-bottom: 8px;
}

/*Find Us Section*/

.findussection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f0908;
  font-family: "Raleway", bold;
  font-size: 80px;
  padding-top: 120px;
  margin: 0;

  padding-bottom: 8px;
}

.findus-icon {
  width: 24px;
  height: 24px;
}

.findus-adresse {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.findus-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.googlemaps {
  border: 0;
  width: 100%;
  height: 50vh;
  padding-bottom: 4px;
}

/*Footer Section*/

.footersection {
  align-items: center;
  display: flex;
  background-color: #000000;
  height: 144px;
  justify-content: space-between;
  background-color: black;
}

.footer-icon {
  height: 44px;
}

.media-icon {
  height: 40px;
}

.footer-blum {
  display: flex;
  padding-left: 160px;
}

.media-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 160px;
}

/*Tablet und Mobile Ansicht th = tablet hide, mh = mobile hide*/

@media (max-width: 1280px) and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    word-wrap: break-word;
    font-size: 72px;
    overflow-x: hidden;
  }
  .tablet-hide-subtitle {
    font-size: 20px;
  }
  .tablet-hide-nav {
    display: none;
  }
  .tablet-icon {
    width: 64px;
    height: 64px;
  }
  .tablet-phone-btn {
    font-size: 20px;
    align-items: center;
    text-align: center;
    width: 180px;
  }
  .tablet-hide-order-h2 {
    font-size: 64px;
    padding-bottom: 48px;
    padding-top: 96px;
  }
  .tablet-hide-order-icon {
    width: 112px;
    padding-bottom: 8px;
  }
  .tablet-hide-order-text {
    font-size: 32px;
    font-family: "Economica", bold;
    padding-bottom: 96px;
  }
  .tablet-hide-menu-container {
    padding-top: 96px;
  }
  .tablet-hide-menu-title {
    font-size: 64px;
  }
  .tablet-hide-menu-1 {
    padding-top: 48px;
    padding-bottom: 32px;
    gap: 24px;
  }
  .tablet-hide-menu-2 {
    padding-bottom: 32px;
    gap: 24px;
  }
  .tablet-hide-menu-3 {
    padding-bottom: 96px;
    gap: 24px;
  }
  th {
    font-size: 32px;
  }
  td {
    font-size: 24px;
  }
  .tablet-hide-menu-icon {
    width: 352px;
    height: 352px;
  }
  .tablet-hide-findus-title {
    padding-top: 96px;
    padding-bottom: 8px;
    font-size: 64px;
  }
  .tablet-hide-findus-adresse {
    padding-bottom: 48px;
    font-size: 20px;
  }
  .tablet-hide-footer-icon {
    height: 44px;
  }
  .tablet-hide-media-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 44px;
    word-wrap: break-word;
  }
  .mobile-hide-subtitle {
    font-size: 16px;
  }
  .tablet-hide-nav {
    display: none;
  }
  .mobile-phone-btn {
    font-size: 16px;
    align-items: center;
    text-align: center;
    width: 150px;
  }
  .mobile-icon {
    width: 40px;
    height: 40px;
  }
  header {
    height: 64px;
  }
  .mobile-hide-order-h2 {
    font-size: 40px;
    padding-top: 72px;
  }
  .mobile-hide-order-text {
    padding-bottom: 32px;
    font-size: 32px;
  }
  table {
    display: contents;
    width: 300px;
  }
  th {
    font-size: 32px;
    text-align: left;
  }
  td {
    font-size: 24px;
    text-align: left; 
  }
  .mobile-hide-order-container {
    flex-direction: column;
  }
  .mobile-hide-menu-container {
    padding-top: 72px;
  }
  .mobile-hide-menu-title {
    font-size: 40px;
  }
  .mobile-hide-menu-1 {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .mobile-hide-menu-2 {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .mobile-hide-menu-3 {
    padding-top: 24px;
    padding-bottom: 72px;
  }
  .menu-2-colum-reverse {
    flex-direction: column-reverse;
  }
  .menu-colum {
    flex-direction: column;
  }
  .mobile-hide-menu-icon {
    width: 320px;
    height: 320px;
  }
  .mobile-hide-findus-title {
    padding-top: 72px;
    padding-bottom: 8px;
    font-size: 40px;
  }
  .mobile-hide-findus-adresse {
    padding-bottom: 40px;
    font-size: 16px;
  }
  .mobile-hide-footersection {
    height: 86px;
  }
  .mobile-hide-footer-blum {
    object-fit: cover;
    object-position: left;
    width: 42px;
    height: 40px;
  }
  .mobile-hide-footer-padding-left {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  table {
    width: 400px;
  }
}
