body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: white;
}

.aot {
  background-image: url("./img/1_hero/JPG/hero_bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  padding-left: 80px;
  padding-right: 80px;
  height: 80;
  padding-top: 32px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 64px;
  height: 64px;
}

.navlink {
  color: white;
  text-decoration: none;
}

.phone-icon {
  width: 24px;
  height: 24px;
}

.phone-btn {
  background-color: #9f0908;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  width: 200px;
  height: 40px;
}

.navlink:hover {
  color: #e9635c;
}

.phone-btn:hover {
  cursor: pointer;
  background-color: #e9635c;
}

h1 {
  font-size: 96px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Raleway", bold;
  text-align: center;
}

.hero-subtitle {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

/*Order Section*/

.order-title {
  text-align: center;
  font-family: "Raleway", bold;
  text-align: center;
}

.order-title h2 {
  margin: 0;
  padding-top: 120px;
  padding-bottom: 64px;
  color: #9f0908;
  font-size: 80px;
}

.order-container {
  display: flex;
  justify-content: space-evenly
}

.order-icon {
  width: 128px;
  height: 128px;
  padding-bottom: 16px;
}

.order-text {
  font-size: 56px;
  font-family: "Economica", bold;
  color: black;
  text-align: center;
  padding-bottom: 120px;
}

.order-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Menu Section*/

.menu-container {
  background-image: url("./img/3_section_our_menu/JPG/section_our_menu_bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.menu-container h2 {
  margin: 0;
  color: #9f0908;
  font-size: 80px;
  font-family: "Raleway", bold;
}

.menu-icon {
  width: 352px;
  height: 352px;
}

.menu-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
  padding-top: 64px;
  gap: 80px;
}

.menu-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
  gap: 80px;
}

.menu-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 120px;
  gap: 80px;
}

th {
  font-size: 56px;
  font-family: "Economica", bold;
  padding-bottom: 16px;
  color: black;
}

td {
  color: #675e54;
  font-size: 32px;
  font-family: "Raleway", bold;
}

tr {
  padding-bottom: 8px;
}

/*Find Us Section*/

.findussection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9f0908;
  font-family: "Raleway", bold;
  font-size: 80px;
  padding-top: 120px;
  margin: 0;

  padding-bottom: 8px;
}

.findus-icon {
  width: 24px;
  height: 24px;
}

.findus-adresse {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
}

.findus-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-bottom: 64px;
}

.googlemaps {
  border: 0;
  width: 100%;
  height: 50vh;
  padding-bottom: 4px;
}

/*Footer Section*/

.footersection {
  align-items: center;
  display: flex;
  background-color: #000000;
  height: 144px;
  justify-content: space-between;
  background-color: black;
}

.footer-icon {
  height: 44px;
}

.media-icon {
  height: 40px;
}

.footer-blum {
  display: flex;
  padding-left: 160px;
}

.media-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-right: 160px;
}
